In [24]:
import pandas as pd
import pandasql as ps
from drplatfrom_api import DrPlatformAPI
from datetime import *
dpa = DrPlatformAPI()
data_frame= dpa.load_trips()
data_frame

       id description                      name     taskType category  taskId  \
0  257922        null  YR-AT5-8_20230308_083637      L2_ADAS     null   11721
1  257920        null  YR-AT5-8_20230308_074630  AEB-MAPFREE     null   11720
2  257919        null  YR-AT5-8_20230308_074438  AEB-MAPFREE     null   11720
3  257908        null  YR-AT5-8_20230308_064542  AEB-MAPFREE     null   11720
4  257907        null  YR-AT5-8_20230308_064345  AEB-MAPFREE     null   11720

  vehicleId    status             directoryName  tagTimes  ...  \
0  YR_AT5_8  Uploaded  YR-AT5-8_20230308_083637         0  ...
1  YR_AT5_8       End                      null         0  ...
2  YR_AT5_8       End                      null         0  ...
3  YR_AT5_8  Uploaded  YR-AT5-8_20230308_064542         5  ...
4  YR_AT5_8  Uploaded  YR-AT5-8_20230308_064345         0  ...

                        path  integrityStatus  directorySize     regions  \
0  /YR-AT5-8_20230308_083637                0      764203503  [shanghai]
1                       null                0              0  [shanghai]
2                       null                0              0  [shanghai]
3  /YR-AT5-8_20230308_064542                0    33739835789  [shanghai]
4  /YR-AT5-8_20230308_064345                0     3264448894  [shanghai]

  archType version    createdTime  dataStatus  isFollow tripTime
0      X86       9  1678264598000           1      null       28
1      X86       2  1678261592000           1      null     1625
2      X86       2  1678261480000           1      null       84
3      X86      13  1678257944000           1      null     3191
4      X86       9  1678257827000           1      null       22

[5 rows x 32 columns]

   tester vehicleId  location     taskType      hour  distance
0  yili03  YR_AT5_8  shanghai      L2_ADAS  0.007778       0.0
1  yili03  YR_AT5_8  shanghai  AEB-MAPFREE  0.451389       7.8
2  yili03  YR_AT5_8  shanghai  AEB-MAPFREE  0.023333       0.0
3  yili03  YR_AT5_8  shanghai  AEB-MAPFREE  0.886389      20.5
4  yili03  YR_AT5_8  shanghai  AEB-MAPFREE  0.006111       0.0

In [26]:
sql_platform = """
SELECT tester AS 测试工程师 , vehicleId AS Car_ID , location AS 城市 , DATE(startTime) AS 日期 , SUM(hour) AS 测试时间 , SUM(distance) AS 运营里程（KM）
FROM data_frame
GROUP BY tester
"""
# sql_platform = """SELECT tester AS 测试工程师 , vehicleId AS Car_ID , location AS 城市 , DATE(startTime) AS 日期 , SUM(hour) AS 测试时间 , SUM(distance) AS 运营里程（KM）FROM data_frame GROUP BY tester"""
sql_platform_result = ps.sqldf(sql_platform, locals())
sql_platform_result

    测试工程师
0  yili03